/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif */


h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
}

p {
    /* margin:0 0 10px; */
}

body {
    margin: 0;
    font-family: 'Raleway', 'sans-serif';
    font-size: 14px;
    color: #6c7279;
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
}


.header_inner {
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
}

.header.fixed {
    position: fixed;
    background-color: #31344e;
    height: auto;
}

.header.fixed .header_inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0px;
}

/* Nav */

.nav {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    padding-left: 40px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .15s linear;
}

.nav_link:first-child {
    padding-left: 0;

}

.nav_link:hover {
    opacity: 1;
    text-decoration: underline;
}

/* INTRO  */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 100px;
    background: url("img/intro-bg.jpg") no-repeat center/cover;

}

.intro_title {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.intro_inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.1;
    text-align: center;

}

.intro_subtitle {
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;

}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 2px;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s linear;
    text-align: center;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #6c7279;
}

/* Features */

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features_item {
    width: 33.33%;
    text-align: center;
    padding: 0 20px;
    margin: 25px 0;
}

.features_icon {
    margin-bottom: 20px;
}

.features_title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features_text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* Works */
.works {
    display: flex;
    flex-wrap: wrap;
}

.works_item {
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solir #fff;
}

.works_item:hover .works_content {
    opacity: 1;

}

.works_photo {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.works_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.works_title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;

}

.works_text {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

/*TEAM */


/* Team
===================*/
.team {
    margin: 100px 0 70px;
}

.team__iner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name {
    margin-bottom: 8px;

    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    margin-bottom: 15px;

    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 20px;
    height: 120px;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social--footer .social__item {
    background: none;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social--footer .social__icon {
    fill: #fff;
}

.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;

    transition: fill .1s linear;
}

/* REWIEWS */

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__slider {
    height: 500px;
    overflow: hidden;
}

.reviews__slider.slick-initialized {
    height: auto;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    margin-bottom: 25px;

    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    width: 15px;
    height: 15px;
    padding: 0;

    background: #fff;
    border-radius: 50%;
    border: 0;
    opacity: .5;
    cursor: pointer;

    font-size: 0;
    color: transparent;
}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    opacity: 1;
}

/* Download */
.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    font-size: 28px;
    margin-bottom: 12px;
    color: #2d3033;

}

.download__text {
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn--long {
    min-width: 280px;

}

.footer {
    margin-top: 90px;
    background-color: #3a3e64;

}

.footer__iner {
    padding: 90px 0;
    display: flex;
    flex-wrap: wrap;

}

.footer__block {
    padding: 0 15px;
    text-align: center;
    width: 33.333%;
}

.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.footer_address {
    color: #fff;
    opacity: 0.5;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}

.footer__text {
    color: #fff;
    opacity: 0.5;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}

.footer_copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 1.5;

}

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {


    top: -8px;
}

.burger__item:after {

    bottom: -8px;
}

/* MEDIA QUERIES */
@media(max-width:1300px) {

    /* works */
    .works_item {
        width: 50%;
    }
}

@media(max-width:991px) {
    .burger {
        display: block;
    }

    .nav {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background-color: #31344e;

    }

    .nav.show {
        display: flex;
        background-color: #31344e;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
    }

    .nav_link {
        padding: 9px 15px;
    }

    .intro_title {
        font-size: 40px;
    }

    /* features */
    .features_item {
        width: 50%;
        text-align: center;
        padding: 0 20px;
        margin: 25px 0;
    }

    /* team */
    .team__item {
        width: 50%;
        text-align: center;

    }

    .team__photo {
        margin-right: auto;
        margin-left: auto;
    }

    .social {
        justify-content: center;
    }

    /* reviews */
    .reviews__photo {
        width: 100%;
        overflow: hidden;
        margin: 15px 15px;

    }

    .reviews__content {
        width: 100%;
        padding-bottom: 15px;
    }

    .reviews__image {
        /* min-width: 991px; */
    }
}

@media(max-width:767px) {
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro_title {
        font-size: 30px;
    }

    /* features */
    .features_item {
        width: 100%;
    }

    /* works */
    .works_item {
        width: 100%;
        height: 300px;
    }

    .features {
        margin: 40px 0px;
    }

    .team__item {
        width: 100%;
        text-align: center;

    }

    .team {
        margin: 60px 0 30px;
    }

    .reviews__text {
        font-size: 25px;
    }

    .btn--long {
        min-width: 260px;

    }

    .download {
        margin: 50px 0 px;
    }

    .download__title {
        font-size: 24px;
    }

    .footer__iner {
        padding: 30px 0px;
    }

    .footer__block {
        width: 100%;
        padding: auto 0px;
        margin-bottom: 30px;
    }

    .footer__block:last-child {
        margin-bottom: 0px;
    }
}

@media(max-width:414px) {
    .reviews__image {
        right: -120px;
    }
}